body {
    background-color: lightgreen;

}
a {
  text-decoration: none;
  padding: 8px;
  margin: 20px;
  border: 1px solid brown;
  border-radius: 8px;
  background-color: brown;
  color: green;
}

main {
    color: rgb(69, 3, 3);
}
main a {
    font-size: 30px;
}
footer {
    color: green;
}
